{% load static %} <!--duhet shtuar kjo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">   
    <link rel="stylesheet" type="text/css" href="{% static 'journal\\journal.css' %}">    
    <title>Document</title>
</head>
<body>


    <div class="container">
        <div class="row">
            <h1>Hello!</h1>
            <ul>
                {% for journal in journals %}
                 <li>
                    <a href="{% url 'journal' journal.id %}">
                        Journal {{journal.id}}: {{journal.journal_text}}
                    </a>
                </li>
                {% endfor %}
            
            </ul>


        </div>
        <a href="{% url 'add' %}" class="btn" role="button">Write in your journal</a>

    </div>
   
   
   


</body>
</html>