body {
    background-color: #f1dcef;
    color: #813b5e;
}


img {
    width: 200px;
    height: 200px;
}


/* .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
   

} */

#return, #edit  {
    border: 1px solid #813b5e;
    border-radius: 10%;
}


.journalWrapper {
    display: flex;
    flex-wrap: wrap;
    
}
.cardWrapper {
    border: 1px solid #813b5e;
    width: 30%;
    background-color: #f1dcef;
}

